@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    --tw-bg-opacity: 1;
    background-color: rgb(231 229 228 / var(--tw-bg-opacity));
}


::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgb(214 211 209 / var(--tw-bg-opacity));
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}